In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r"D:\Resume Classification System\data\raw\Dataset.csv")

In [5]:
df.head()

     Category                                               Text
0  Accountant  ﻿________________\r\n\r\nEDUCATION\r\nOMBA - E...
1  Accountant  ﻿________________\r\n\r\nHOWARD GERRARD\r\nAcc...
2  Accountant  ﻿________________\r\n\r\nKevin Frank\r\nSENIOR...
3  Accountant  ﻿________________\r\n\r\nPlace of birth\r\nNat...
4  Accountant  ﻿________________\r\n\r\nStephen Greet, CPA\r\...

In [6]:
categories = df['Category'].unique()
print(categories)

['Accountant' 'Advocate' 'Agriculture' 'Apparel' 'Architecture' 'Arts'
 'Automobile' 'Aviation' 'Banking' 'Blockchain' 'BPO'
 'Building and Construction' 'Business Analyst' 'Civil Engineer'
 'Consultant' 'Data Science' 'Database' 'Designing' 'DevOps'
 'Digital Media' 'DotNet Developer' 'Education' 'Electrical Engineering'
 'ETL Developer' 'Finance' 'Food and Beverages' 'Health and Fitness'
 'Human Resources' 'Information Technology' 'Java Developer' 'Management'
 'Mechanical Engineer' 'Network Security Engineer' 'Operations Manager'
 'PMO' 'Public Relations' 'Python Developer' 'React Developer' 'Sales'
 'SAP Developer' 'SQL Developer' 'Testing' 'Web Designing']

In [7]:
df.tail()

            Category                                               Text
13384  Web Designing  ﻿________________\r\n\r\nJESSICA CLAIRE\r\nMon...
13385  Web Designing  ﻿________________\r\n\r\nJESSICA CLAIRE\r\nMon...
13386  Web Designing  ﻿________________\r\n\r\nSUMMARY\r\nJessica Cl...
13387  Web Designing  ﻿________________\r\n\r\nJESSICA CLAIRE\r\nMon...
13388  Web Designing  ﻿________________\r\n\r\nWEBSITES, PORTFOLIOS,...

In [8]:
category_count = df['Category'].value_counts()
print(category_count)

Category
Education                    410
Mechanical Engineer          384
Electrical Engineering       384
Consultant                   368
Civil Engineer               364
Sales                        364
Management                   361
Human Resources              360
Digital Media                358
Accountant                   350
Java Developer               348
Building and Construction    345
Operations Manager           345
Architecture                 344
Testing                      344
Business Analyst             340
Aviation                     340
Finance                      339
SQL Developer                338
Public Relations             337
Health and Fitness           332
Arts                         332
Network Security Engineer    330
DotNet Developer             329
Apparel                      320
Banking                      314
Automobile                   313
Web Designing                309
SAP Developer                304
Data Science                 299
ETL Developer                294
Agriculture                  293
Advocate                     291
DevOps                       289
PMO                          286
Information Technology       274
Designing                    258
Database                     257
Python Developer             248
BPO                          203
React Developer              182
Food and Beverages           162
Blockchain                    47
Name: count, dtype: int64

In [9]:
df.count()

Category    13389
Text        13389
dtype: int64

In [10]:
p_data = pd.read_csv(r'D:\Resume Classification System\data\processed\Preprocessed_Data.csv')
p_data.head()

     Category                                               Text
0  Accountant  education omba executive leadership university...
1  Accountant  howard gerrard accountant deyjobcom birmingham...
2  Accountant  kevin frank senior accountant inforesumekraftc...
3  Accountant  place birth nationality olivia ogilvy accounta...
4  Accountant  stephen greet cpa senior accountant 9 year exp...

In [11]:
p_data.count()

Category    13389
Text        13389
dtype: int64

In [12]:
category_mapping = {
    'Data Science' : 'Data Scientist'
}

In [13]:
def clean_category(text):
    for pattern, category in category_mapping.items():
        if str(text).startswith(pattern):
            return category
    return text

In [14]:
df['Category'] = df['Category'].apply(clean_category)

In [15]:
df['Category'].unique()

array(['Accountant', 'Advocate', 'Agriculture', 'Apparel', 'Architecture',
       'Arts', 'Automobile', 'Aviation', 'Banking', 'Blockchain', 'BPO',
       'Building and Construction', 'Business Analyst', 'Civil Engineer',
       'Consultant', 'Data Scientist', 'Database', 'Designing', 'DevOps',
       'Digital Media', 'DotNet Developer', 'Education',
       'Electrical Engineering', 'ETL Developer', 'Finance',
       'Food and Beverages', 'Health and Fitness', 'Human Resources',
       'Information Technology', 'Java Developer', 'Management',
       'Mechanical Engineer', 'Network Security Engineer',
       'Operations Manager', 'PMO', 'Public Relations',
       'Python Developer', 'React Developer', 'Sales', 'SAP Developer',
       'SQL Developer', 'Testing', 'Web Designing'], dtype=object)

In [16]:
df.to_csv(r'D:\Resume Classification System\data\raw\Dataset.csv')